.modal-body .card .card-header {
    background-color: #fff;
    padding: 7px;
    border-bottom: 1px solid #e9edf1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}
.btn-sm {
    padding: 0.375rem 0.75rem;
}
.QAmXx{display: block;}

.sc-fpEFIB.gQArdZ {
    border: 1px solid #c1c1c1;
}
